### Python Basic :
***
Instructor: NJ Namju Lee, nj.namju@gmail.com <br>
***

# python basic

## Basic Syntax

## 1. variable and type

In [1]:
myVariable = 10

print (myVariable)

In [2]:
# your code here

In [3]:
myString = "hello world"
myInt = 7
myFloat = 1.23
myBool = True

print (myString)
print (myInt)
print (myFloat)
print (myBool)

In [4]:
# your code here

In [5]:
print (type(myString))
print (type(myInt))
print (type(myBool))

<class 'str'>
<class 'int'>
<class 'bool'>

In [6]:
# your code here

## 2. number

In [7]:
theNum = 3
theNum = 2
print (theNum)

2

In [8]:
# your code here

In [9]:
numA = 3 
numB = 2.0
theSum = numA + numB
print (theSum)

5.0

In [10]:
# your code here

In [11]:
myNum = 1
myNum += myNum
myNum += myNum
print (myNum)

4

In [12]:
# your code here

In [13]:
total = ((2 ** 2 ) * 0.5 ) + 3.14159 
print (total)

5.14159

In [14]:
# your code here

## 3. comment

In [15]:
# your school
schoolName = "GSD" 
year = 2017 # the year
'''
this is ...
the result below
'''
print (schoolName , year)

GSD 2017

In [16]:
# your code here

## 4. string

documentation: https://docs.python.org/2/library/string.html

In [17]:
theText = "hello world"
print (theText)

hello world

In [18]:
# your code here

In [19]:
print (theText[0])
print (theText[3])
print (theText[-1])
print (theText[int(len(theText)/2)])
print (len(theText))

h
l
d

11

In [20]:
# your code here

In [21]:
theString = "Hello GSD"
print (theString.lower())
print (theString.upper())

hello gsd
HELLO GSD

In [22]:
# your code here

In [23]:
# concatenate for string
print (theText + ", "+ theString)
print ("theText %s, theString %s" %(theText, theString))

hello world, Hello GSD
theText hello world, theString Hello GSD

In [24]:
# your code here

## 5. Casting

In [25]:
myStringNum= "3"
myFloatNum = 3.0

print ("myStringNum is ", myStringNum, "theType is", type(myStringNum),"\n", 
       "myFloatNum is" , myFloatNum, "myFloatNum", type(myFloatNum))

print (10 * float(myStringNum))
print ("befor:", type(myFloatNum), "after casting" , type(str(myFloatNum)))

myStringNum is  3 theType is <class 'str'>
 myFloatNum is 3.0 myFloatNum <class 'float'>
30.0
befor: <class 'float'> after casting <class 'str'>

In [26]:
# your code here

In [27]:
theBool ="True"
print (type(theBool))
print (type(bool(theBool)))

<class 'str'>
<class 'bool'>

In [28]:
# your code here

## 6. Conditional Statement

In [29]:
booA = True
booB = False
print (booA == booB)
print (booA != booB)

False
True

In [30]:
# your code here

In [31]:
a = 10
b = "10"
print (a == b)
print (a == int(b))

False
True

In [32]:
# your code here

In [33]:
boolA = 3 > 12
print (boolA)
boolB = 4 < 6 * 4
print (boolB)

False
True

In [34]:
# your code here

In [35]:
a = 5
b = 5.0
print (type(a) == type(b))
print (type(float(a)) == type(b))

False
True

In [36]:
# your code here

In [37]:
print (3 == 2 or 5 == 5)
print (3 == 2 and 5 == 5)

True
False

In [38]:
# your code here

In [39]:
print ((3 == 2 or 5 == 5) and  (3 == 2 and 5 == 5))

False

In [40]:
# your code here

In [41]:
a = 3
b = 5

if a > b:
    print ("a is greater than b")
elif(a == b):
    print ("a is equal to b")
else:
    print ("a is smaller than b")

a is smaller than b

In [42]:
# your code here

## 7. loop

In [43]:
for i in range(3):
    print ("hello world")

hello world
hello world
hello world

In [44]:
# your code here

In [45]:
for i in range(3,6):
    print (i)

3
4
5

In [46]:
# your code here

In [47]:
theIter = 10
for i in range(theIter):
    if i % 2 == 0: # modulo operation
        print (i)
    else :
        print ("odd number")

0
odd number
2
odd number
4
odd number
6
odd number
8
odd number

In [48]:
# your code here

In [49]:
theIter = 5
while theIter > 0:
    print (theIter)
    theIter -= 1

5
4
3
2
1

In [50]:
# your code here

In [51]:
for i in range(2):
    for j in range (3):
        print ("i =" , i ,",", "j =", j)

i = 0 , j = 0
i = 0 , j = 1
i = 0 , j = 2
i = 1 , j = 0
i = 1 , j = 1
i = 1 , j = 2

In [52]:
# your code here

## Data Structure

## 8. List
https://docs.python.org/2/tutorial/datastructures.html

In [53]:
theListA = [1,2,3,4,5]
theListB = ["hello world"]
print (theListA)
print (theListA[3:])

print (theListB)

theListB.append(3)
theListB.append(6)
print (theListB)

[1, 2, 3, 4, 5]
[4, 5]
['hello world']
['hello world', 3, 6]

In [54]:
# your code here

In [55]:
theString = "hello GSD"
print (theString[3:])
print ("the length of string is",len(theString), ".")
print ("---------------------------")
for i in theString:
    print (i)

lo GSD
the length of string is 9 .
---------------------------
h
e
l
l
o

G
S
D

In [56]:
# your code here

In [57]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
basket = set(basket) # https://docs.python.org/2/library/sets.html
for f in sorted(basket):
    print (f)

apple
banana
orange
pear

In [58]:
# your code here

In [59]:
myList = [1,2,5,8,9]
for i in myList:
    print (i)

1
2
5
8
9

In [60]:
# your code here

In [61]:
print (len(myList))
print (myList[-1])

5
9

In [62]:
# your code here

In [63]:
theNewList = []
for i in range(10):
    theNewList.append(i*10)
print (theNewList)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [64]:
# your code here

In [65]:
theNewList.index(50)

5

In [66]:
# your code here

In-built function of List, python
https://docs.python.org/2/tutorial/datastructures.html

In [67]:
myList = [1,2,3,"gsd", -5, True,'mdes',10]
print (myList)
myList.insert(0, 0)
print (myList)
myList.remove('gsd')
print (myList)

[1, 2, 3, 'gsd', -5, True, 'mdes', 10]
[0, 1, 2, 3, 'gsd', -5, True, 'mdes', 10]
[0, 1, 2, 3, -5, True, 'mdes', 10]

In [68]:
# your code here

In [69]:
myList.pop()
print (myList)

[0, 1, 2, 3, -5, True, 'mdes']

In [70]:
# your code here

In [71]:
myList.pop(2) # index
print (myList)

[0, 1, 3, -5, True, 'mdes']

In [72]:
# your code here

In [73]:
# myList.sort() # for python 2.x

myListNumber = [1,40,5,4,2,23,4,3,45,546,45,3,436,9]
print (myListNumber)
myListNumber.sort()
print (myListNumber)

[1, 40, 5, 4, 2, 23, 4, 3, 45, 546, 45, 3, 436, 9]
[1, 2, 3, 3, 4, 4, 5, 9, 23, 40, 45, 45, 436, 546]

In [74]:
# your code here

In [75]:
myList.reverse()
print (myList)

['mdes', True, -5, 3, 1, 0]

In [76]:
# your code here

## 9. Dictionary
https://docs.python.org/2/tutorial/datastructures.html

In [77]:
person = {'height': 170, "name": 'Tony', "weight": 65  }
print (person)
print (person['name'])
print (person['weight'])

{'name': 'Tony', 'weight': 65, 'height': 170}
Tony
65

In [78]:
# your code here

In [79]:
person['adress'] = 'Cambridge, MA'
print (person)

{'adress': 'Cambridge, MA', 'name': 'Tony', 'weight': 65, 'height': 170}

In [80]:
# your code here

In [81]:
person['height'] += 10
print (person)

{'adress': 'Cambridge, MA', 'name': 'Tony', 'weight': 65, 'height': 180}

In [82]:
# your code here

In [83]:
person["skill"] = ['rhino', 'grasshopper', 'photoshop']
print (person)

{'adress': 'Cambridge, MA', 'skill': ['rhino', 'grasshopper', 'photoshop'], 'name': 'Tony', 'weight': 65, 'height': 180}

In [84]:
# your code here

In [85]:
for i in person:
    content = person[i]
    if(type(content) == list):
        for j, skill in enumerate(content):
            print ("the skill",j , ":", skill)
    else:
        print (content)

Cambridge, MA
the skill 0 : rhino
the skill 1 : grasshopper
the skill 2 : photoshop
Tony
65
180

In [86]:
# your code here

In [87]:
theIndex = ["a", "b", "c"]
theNewDic = {} # Empty dictionary
for j in theIndex:
    lst = []
    for i in range(3):
        lst.append(i);
    theNewDic[str(j)] = lst
print (theNewDic)

{'a': [0, 1, 2], 'c': [0, 1, 2], 'b': [0, 1, 2]}

In [88]:
# your code here

## 10. Tuple
https://docs.python.org/2/tutorial/datastructures.html

In [89]:
theTuple = (1,2, 3)
print (theTuple)
print (theTuple[0])

(1, 2, 3)
1

In [90]:
# your code here

In [91]:
tA = (1,2,3)
print (tA * 2)

tB = ('a','b','c')
tC = tA + tB
print (tC)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 'a', 'b', 'c')

In [92]:
# your code here

In [93]:
theIndex = ["a", "b", "c"]
theList = [1,2,3]
theTuple = zip(theIndex, theList)
print (theTuple)
for i in theTuple:
    print (i[0], i[1])

<zip object at 0x00000149F9AE58C8>
a 1
b 2
c 3

In [94]:
# your code here

In [95]:
theTuple = (1,2,3)
print (theTuple)
print (type(theTuple))

newList = list(theTuple)
print (newList)
print (type(newList))

newTuple = tuple(newList)
print (newTuple)
print (type(newTuple))

(1, 2, 3)
<class 'tuple'>
[1, 2, 3]
<class 'list'>
(1, 2, 3)
<class 'tuple'>

In [96]:
# your code here

### 11. Function

In [97]:
def theSum(a,b):
    print( a + b)
theSum(10,3)

13

In [98]:
# your code here

In [99]:
def theSum(a,b):
    return a + b
mySum = theSum(10,3)
print (mySum)

13

In [100]:
# your code here

In [101]:
def find_A_character_from_word(word):
    theWord = word.upper()
    for i, char in enumerate(theWord):
        if(char == "A"):
            print ("yes")
            return i
    print ("no")
    return -1
theIndex = find_A_character_from_word("apple")
print (theIndex)
print ("--------------------------------")

theIndex = find_A_character_from_word("lemon")
print (theIndex)
print ("--------------------------------")

theIndex = find_A_character_from_word("strawberry")
print (theIndex)

yes
0
--------------------------------
no
-1
--------------------------------
yes
3

In [102]:
# your code here

In [103]:
import random # https://docs.python.org/2/library/random.html

def getRandomValue(theMin, theMax):
    return random.randint(theMin, theMax)

def getNumofValue(theIter, theMin, theMax):
    outList = []
    for i in range(theIter):
        outList.append(getRandomValue(theMin, theMax))
    return outList


theIter = int(10) # raw_input("number of iteration?"))
theMin = int(2)# raw_input("min"))
theMax = int(20) # raw_input("max"))
theList = getNumofValue(theIter, theMin, theMax)
print (theList)
print (sum(theList))

[3, 7, 10, 5, 8, 10, 2, 5, 14, 17]
81

In [104]:
# your code here

In [105]:
from datetime import datetime # https://docs.python.org/2/library/datetime.html
now = datetime.now()

print ('0%s/%s/%s' % (now.month, now.day, now.year))

from datetime import datetime
now = datetime.now()

print ('0%s:%s:%s' % (now.hour, now.minute, now.second))

from datetime import datetime
now = datetime.now()

print ('0%s/%s/%s 0%s:%s:%s' % (now.month, now.day, now.year, now.hour, now.minute, now.second))

05/27/2019
022:13:8
05/27/2019 022:13:8

In [106]:
# your code here

In [107]:
import math
print (dir(math))

def degreeFromRadians(degrees):
    return (degrees * (math.pi / 180.0))        

def radiansFromDegree(radians):
    return (radians * (180.0 / math.pi))

theValue = 90 
thesult = degreeFromRadians(90)
print (thesult)
print (radiansFromDegree(thesult))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'trunc']
1.5707963267948966
90.0

In [108]:
# your code here

## Additional Reading and Resources

#### python documentation(2.7x) 
https://docs.python.org/2/

#### codecademy
https://www.codecademy.com/learn/python